/*Global Styling*/

html {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}

body{
  margin: 0;
}

a {
  text-decoration: none;
  color: #FFF;
}

.container {
  width: 1024px;
  margin: 0 auto;
}

/* Navigation */

nav {
  height: 3.875rem;
  background-color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
}

.nav-logo img {
  height: 3.125rem;
  margin-left: 3.6875rem;
}

.nav-logo-mobile {
  display: none;
}

.nav-links {
  margin-right: 3.4375rem;
}

.nav-links a:hover {
  color: #f5a623;
}


.nav-links ul {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  align-items: baseline;
}

.nav-links a {
  font-family: "Open Sans";
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  margin-left: 2.5rem;
}

/* Jumbotron */
.jumbotron {
  background-image: url("../../resources/images/dancers-photo.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 3.875rem;
  padding-top: 9.4375rem;
}

.jumbotron-textbox {
 text-align: center;
 width: 45rem;
 margin: auto;
}

.jumbotron-textbox h1 {
  font-family: "Roboto";
  font-size: 3.125rem;
  font-weight: bold;
  color: #fff;
  line-height: 1;
  margin-bottom: 2.6875rem;
}

.jumbotron-textbox .subhead {
  font-size: 1.5rem;
  line-height: 1.5;
  color: #FFF;
}

a.jumbotron-button {
  color: #FFF;
  font-family: "Open Sans";
  font-size: 1.375rem;
  font-weight: bold;
  display: inline-block;
}

.jumbotron-button {
  border-radius: 2px;
  background-color: #f5a623;
  padding: 1.25rem 3.125rem;
  margin: auto;
  margin-top: 5rem;
  margin-bottom: 3.125rem;
}

/* module1-dance */

.module1-hiphop {
  background-image: url("../../resources/images/graffiti-photo.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.module1-hiphop .container {
  height: 31.25rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
}

.module2-firedance {
  height: 31.25rem;
  width: 100%;
  background-image: url("../../resources/images/fire-photo.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.module2-firedance .container {
  height: 31.25rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
}

.module3-aerialdance {
  height: 31.25rem;
  width: 100%;
  background-image: url("../../resources/images/jump-photo.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.module3-aerialdance .container {
  height: 31.25rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
}

.module-textbox {
  background-color: rgba(120, 73, 225, 0.9);
  width: 25rem;
  height: auto;
  padding: 5rem 3rem;
  margin-top: 5rem;
  margin-bottom: 0;
  color: #FFF;
}

.module-textbox h2 {
  font-size: 2.25rem;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 1.25rem;
}

.module-textbox .bodycopy {
  font-size: 1.125rem;
  line-height: 1.4;
  margin-bottom: 1.25rem;
}

.module-textbox .cta {
  font-weight: bold;
}

/* Footer */
footer .container {
  background-image: url("../../resources/images/party-photo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

footer .footer-top {
  height: 3.125rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #FFF;
  padding: .5rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

footer .icons ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 9.375rem;
}

footer .icons ul li {
  margin: 1rem;
}

.fa {
  color: #FFF;
}

footer .footer-links {
  text-decoration: none;
  color: #FFF;
  font-size: .875rem;
}

footer .footer-bottom-desktop .container {
  height: 15rem;
}

footer .footer-bottom-desktop {
  background-color: rgba(0, 0, 0, 0.5);
  padding-top: 5rem;
  padding-bottom: 5rem;
}

footer .footer-bottom-desktop p {
  font-size: .875rem;
  color: white;
  text-align: center;
  margin-bottom: 20px;
}

footer .footer-bottom-mobile {
  display: none;
}

/* Tablet 768px */
@media only screen and (max-width: 768px) {
  .jumbotron {
    background-position: center;
    margin-top: 3.875rem;
    padding-top: 9.4375rem;
  }
  .jumbotron-textbox {
     width: 31.25rem;
     margin: auto;
  }
  .jumbotron-button {
    border-radius: 2px;
    background-color: #f5a623;
    padding: 1.25rem 3.125rem;
    width: 40%;
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 3.125rem;
  }
  .module-textbox {
    text-align: left;
    padding: 1.875rem 3.4375rem 3.4375rem 1.875rem;
    width: 100%;
  }

  .module-textbox h2 {
    font-size: 1.875rem;
    line-height: 1.4;
    margin-bottom: .625rem;
  }

  .module-textbox .bodycopy {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 1.25rem;
  }
  .footer-top img {
    display: none;
  }
  .footer-top .icons {
    margin: 0 auto;
    padding: 0;
  }
  .footer-top .footer-links {
    display: none;
  }
  .fa {
    font-size: 1.5rem;
  }
  .footer-bottom-desktop {
    display: none;
  }
  .footer-top {
    height: 2.5rem;
  }
  footer .container .footer-bottom-mobile {
    display: block;
    height: 8.75rem;
  }
  .footer-bottom-mobile {
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 1.875rem;
    padding-bottom: 0;
   }
  .footer-bottom-mobile p {
    color: #FFF;
    font-size: .625rem;
    letter-spacing: 0.5px;
    padding: .3rem;
    text-align: center;
  }
   #copyright {
     margin-top: 1rem;
   }
}

/* Mobile 480px */
@media only screen and (max-width: 480px) {
  nav {
    height: 2.5rem;
    font-size: .75rem;
  }
  .jumbotron {
    background-position: center;
    margin-top: 2.5rem;
    padding-top: 7.125rem;
  }
  .nav-logo {
    display: none;
  }
  .nav-logo-mobile {
    display: block;
  }
  .nav-links a {
    font-size: .75rem;
    margin-right: 0;
  }
  .nav-links {
    margin-right: .625rem;
  }
  .nav-logo-mobile img {
    margin-left: .625rem;
  }
  .jumbotron {
    margin-top: 2.5rem;
    padding-top: 7.125rem;
  }

  .jumbotron-textbox {
   text-align: center;
   width: 18.5rem;
   margin: auto;
  }

  .jumbotron-textbox h1 {
    font-size: 1.875rem;
    margin-bottom: 1.625rem;
  }

  .jumbotron-textbox .subhead {
    font-size: 1rem;
    line-height: 1.6;
  }

  a.jumbotron-button {
    color: #FFF;
    font-family: "Open Sans";
    font-size: 1.375rem;
    font-weight: bold;
    display: inline-block;
  }

  .jumbotron-button {
    border-radius: 2px;
    background-color: #f5a623;
    margin: auto;
    margin-top: 3.875rem;
    margin-bottom: 3.125rem;
    width: 14rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .module-textbox {
    text-align: left;
    padding: 1.875rem 1.25rem 2rem 1.25rem;
    width: 100%;
  }

  .module-textbox h2 {
    font-size: 1.25rem;
    line-height: 1.2;
    margin-bottom: .625rem;
  }

  .module-textbox .cta {
    font-size: 1rem;
  }
}
