html {
  font-size: 16px;
  background-color: #f8f8f8;
}

body {
  padding-top: 2.25rem;
  margin: 0;
}

.container {
  width: 1020px;
  margin: 0 auto;
}

.container-fluid {
  width: 1020px;
  margin: 0 auto;
}

.navbar-header {
  margin-left: 15px;
}

nav .navbar-nav .navbar-right {
  margin-right: 15px;
}

/* title */
.navbar-default .navbar-brand {
    color: #777;
    background-color: #F8F8F8;
    border-color: #E7E7E7;
}


/* link */
.navbar-default .navbar-nav > li > a {
    font-family: "Roboto";
    color: #37c2aa;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #37c2aa;
}
.navbar-default .navbar-nav > .active > a {
  color: #4a4a4a;
  background-color: #F8F8F8;
}

.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #37c2aa;
    background-color: #F8F8F8;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #37c2aa;
    background-color: #F8F8F8;
}

/*Jumbotron*/

.jumbotron {
  background-image: url("../../resources/images/jumbotron.png");
  height: 43.5rem;
}

.jumbotron .container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 17rem;
}

.jumbotron-text {
  width: 80%;
  margin: 0;
  padding: 10px;
}

.jumbotron h1 {
  font-family: "Arbutus Slab";
  font-size: 3.75rem;
  color: white;
  background-color: #d404af;
  margin: 0;
  padding: 10px;
  text-align: center;
  width: 90%;
}

.jumbotron h2 {
  font-family: "Roboto";
  font-size: 1.25rem;
  background-color: #f5cb07;
  margin: 0;
  padding: 10px;
  text-align: center;
  width: 90%;
}

/*Pull Quote*/

.pull-quote .container {
  margin-top: 7rem;
  margin-bottom: 7rem;
  width: 80%;
  padding: 0;
}

.pull-quote .quote-text {
  font-family: "Droid Serif";
  font-size: 1.5rem;
  font-style: italic;
  line-height: 1.3;
  color: #4a4a4a;
}

.pull-quote .attributed {
  font-family: "Roboto";
  font-size: 0.875rem;
  font-style: italic;
  line-height: 1.4;
  margin-top: .75rem;
}

/* Why Adhoc?*/
.whyAdhoc .container {
  width: 100%;
}

.headerAndHr {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerAndHr h1 {
  font-family: "Arbutus Slab";
  font-size: 3rem;
  text-align: center;
  width: 30%;
  margin: 0 auto;
  background-color: white;
  margin-bottom: 2rem;
  width: 40%;
}

.divider-l {
  height: 1px;
  width: 30%;
  background-color: gray;
  margin-bottom: 1rem;
}

.divider-r {
  height: 1px;
  width: 30%;
  background-color: gray;
  margin-bottom: 1rem;
}

.whyAdhoc .container .headerAndHR {
}

.thumbnail {
  border: 0;
}

/*Meet the team*/
.meetTheTeam {
  background-color: #4a4a4a;
  border: 0;
  padding-bottom: 7.25rem;
}

.meetTheTeam .container {
   width: 100%;
}

.meetTheTeam img {
  max-width: 100%;
  border: 0;
  vertical-align: middle;
}

.meetTheTeam h1 {
  color: white;
  font-family: "Arbutus Slab";
  font-size: 3rem;
  margin-top: 5.5rem;
  text-align: center;
  margin-bottom: 3.375rem;
}

.meetTheTeam .name {
  color: white;
  font-weight: bold;
  text-align: center;
}

.meetTheTeam .title {
  color: white;
  margin-bottom: 3rem;
  text-align: center;
}

.meetTheTeam .thumbnail {
  border: 0;
  padding: 0;
  border-radius: 0;
  background: none;
}

/* Current Clients */

.currentClients .container {
  width: 100%;
  padding-top: 5.25rem;
}

.currentClients .row {
  margin-top: 44px;
  margin-bottom: 5rem;
}

.currentClients .headerAndHr {
  margin: 0;
  padding: 0;
}

.currentClients .thumbnail {
  margin-bottom: 2rem;
}

/* Footer */

footer {
  padding-top: 2.625rem;
  text-align: center;
  padding-bottom: 2rem;
  background-color: #e9ebeb;
}

footer .container {
  width: 100%;
}

.legal {
  margin-top: 2rem;
  font-size: .75rem;
}

.fa-facebook {
  color: #007faa;
}

.fa-instagram {
  color: #007faa;
}

.fa-twitter {
  color: #007faa;
}
